@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');

.navbar{
    background-color: rgb(4, 4, 176);
    width: 100%;
    height: 70px;
    margin: 0px;
    padding: 0px;
}
.logo img{
    width: 70px;
    margin-top: 10px;
    margin-left: 200px;
    height: 55px;
    float: left;
    
}
.icon{
    width: auto;
    height: 30px;
    float: right;
    display: flex;
    margin-right: 200PX;
    margin-top: 30px;
}
.icon a i{
    height: 30px; 
    color: rgb(255, 255, 255);
    margin-top:10px ;
    margin-left: 15px;
}
.icon button{
    margin-left: 20px;
    width: 180px;
    height: 30px;
}
.header{
    width: 100%;
    height: 70px;
    background-color: #ce0a0a;
   

}
.header.stciky {
    margin-top: 0%;
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 0;
    animation: fadeInDown 0.7s ease-in-out;
    box-shadow: 14px 14px 60px 0 rgb(80 20 173 / 6%);
    backdrop-filter: blur(50px);
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.header .header1{
    width: 80%;
    display: flex;
    margin-left: 11%;
    font-family: 'Moul', serif;
    height: 70px;
}.header .header1 li{
    display: flex;
  }
  .header .header1 li {
    display: flex;
    margin-left: 30px;
    width: 100px;
    height: 65px;
    text-align: center;
    font-size: 18px;
    
    float: left;
  }
  .header .header1 li a{
      width: 120px;
        height: 100%;
        font-size: 16px;
        color: rgb(255, 255, 255);
        text-decoration: none; 
        margin-top: 0px;
       
  }
.header1 li a:hover{
    margin-top:0%;
    height: 70px;
    background-color: #ffffff;
    color: blue;
}


.dropdown {
  width: 100px;
  float: left;
  overflow: hidden;
  margin-left: 3%;
}

.dropdown .dropbtn {
    width: 100px;
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 6px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 255);
  color: blue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(0, 0, 0);
  padding: 2px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: blue;
}
.dropdown-content a8{
    color: blue;
    margin-left: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.footer{
    margin-top: 80%;
    width: 100%;
    height: 300px;
    background-color: rgb(36, 36, 105);
    top: 100%;
}

.footering{
    width: 70%;
    height: 100%;
    margin-left: 15%;
    display: flex;
}
.contect{
    width: 40%;
    height: 100%;
    float: left;
   
}
.socol{
    width: 16%;
    height: 100%;
    float: left;
}
.app{
    width: 20%;
    height: 100%;
    float: left;
   
}
.location{
    width: 25%;
    height: 100%;
    float: right;
    
}
.contect h2{ 
    color: #ffffff;
}
.contect h3{
    color: #ffffff;
}
.contect h4{
    color: #ffffff;
}
.socol h2{
    color: #ffffff;
}
.socalimg{
    width: 100%;
    height: 40px;
   
}
.img img{
    width: 20%;
    height:100% ;
    float: left;
}
.app h2{
    color: #ffffff;
}
.location h2{
    color: #ffffff;
}
  .macasin{
      margin-top: 2%;
      width: 100%;
      height: 450px;
      display: flex;
     
  }
  .hot-new-right{
    margin-left: 10%;
    width: 80%;
    background-color: beige;
}
.two-A{
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.two-A{
    overflow: hidden;
}
.two-A:hover img{
    transform: scale(1.1);
}
.two-A a{
    text-decoration: none; 
}
.two-A{
    width: 30%;
    height: 100%;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    border: 1px solid #e2dede;
    
}
.two-A img{
    border:1px solid rgb(129, 127, 127);
    width: 250px;
    
}
.two-A img :hover img{
    transform: scale(1.3);
}

.two-A p3{
    color: rgb(78, 75, 75);

}
.two-A p{
    color: rgb(166, 166, 165);
}

.tilte{
    margin-top: 2%;
    width: 70%;
    height: 40px;
    background-color: blue;
    margin-left: 15%;
}
.left{
    width: 20%;
    height: 100%;
    background-color: red;
    color: rgb(255, 255, 255);
    float: left;
}
.left h2{
        padding-left: 10px;
        margin: 0%;
    }

.dropdown-content a8{
    color: blue;
    margin-left: 15px;
}
.detail{
    float: right;
}
.trapezoid {
	border-bottom: 40px solid rgb(255, 0, 0);
	border-left: 0px solid transparent;
	border-right: 35px solid transparent;
	height: -10px;
	width: 3%;
    float:left;
}